
h1,
h2,
h3,
h4,
h5 {
    color: #009ee0; /* a definir */
} 


.btn-default{
    color:#FFF;
    background-color: #009ee0;
}

.btn-default:hover{
    background-color: #077cad;
    color:#FFF;
}



a {
    /* Bouton*/
    color:#009ee0; /* a definir */
    text-decoration: none; /* a definir */
}

a:hover {
    color: #077cad; /* a definir */
}


  
.header {
    background-color: #077cad;
}

.header ul {
background-color: #077cad;

}
  
.header li a:hover,
.header .menu-btn:hover {
  background-color: #009ee0;
  color: #FFF;
}