
h1,
h2,
h3,
h4,
h5 {
    color: #d7871e; /* a definir */
} 


.btn-default{
    color:#FFF;
    background-color: #d7871e;
}

.btn-default:hover{
    background-color: #eca11f;
    color:#FFF;
}



a {
    /* Bouton*/
    color:#a7a39d; /* a definir */
    text-decoration: none; /* a definir */
}

a:hover {
    color: #eca11f; /* a definir */
}


.header {
    border-top:5px solid #eca11f;
}