/*
$$\      $$\ $$\ $$\       $$\       $$$$$$$$\        $$\           
$$ | $\  $$ |\__|$$ |      $$ |      \__$$  __|       \__|          
$$ |$$$\ $$ |$$\ $$ | $$$$$$$ |         $$ | $$$$$$\  $$\  $$$$$$\  
$$ $$ $$\$$ |$$ |$$ |$$  __$$ |         $$ |$$  __$$\ $$ |$$  __$$\ 
$$$$  _$$$$ |$$ |$$ |$$ /  $$ |         $$ |$$ |  \__|$$ |$$ /  $$ |
$$$  / \$$$ |$$ |$$ |$$ |  $$ |         $$ |$$ |      $$ |$$ |  $$ |
$$  /   \$$ |$$ |$$ |\$$$$$$$ |         $$ |$$ |      $$ |$$$$$$$  |
\__/     \__|\__|\__| \_______|         \__|\__|      \__|$$  ____/ 
                                                          $$ |      
                                                          $$ |      
                                                          \__|      
*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0px 22px;
}